.joke-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  max-height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 10px 10px 0;
  padding: 10px;
  background-color: #553f33;
  color: #aa7f65;
}

.joke-containers {
  margin-bottom: 10px;
}

.joke-element-text {
  font-weight: bold;
  margin-right: 5px;
}

.joke-element > Button {
  align-self: flex-end;
}
