.ui-button {
  max-width: 60px;
  max-height: 50px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 5px;
  margin-right: 10px;
  font-weight: bold;
}

.ui-button:hover {
  background-color: whitesmoke;
}