.user-jokes {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 800px;
  overflow-y: scroll;
  align-items: center;
  margin-left: 60px;
}

.custom_scroll::-webkit-scrollbar {
  width: 12px;
}

.custom_scroll::-webkit-scrollbar-thumb {
  background: #553f33;
  border-radius: 6px;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
